/*  your css code here. If applicable */
body
{
	background-color:  rgb(204, 204, 204);
	padding: 15px;
}

h1, h2
{
	text-align: center;
}

li
{
	list-style-type: none;
	text-align: left;
}

a
{
	text-decoration-line: none;
}

#songsContainer
{
	background-color: white;
	border: solid 2px blACK;
	BORDER-RADIUS: 10PX;
	padding: 5px;
}

.container
{
	width: 90%;
	margin:auto;
	background-color:  rgb(255, 255, 255);
	border: solid 2px blACK;
	BORDER-RADIUS: 10PX;
}

.container>p
{
	margin-left: 20px;
	font-size: 20px;
	font-weight: bold;
}

.player_one
{

	background-color:  rgb(255, 255, 255);
	BORDER-RADIUS: 10PX;
	padding: 15px;
}


.player_two
{
	background-color:  rgb(255, 255, 255);
	BORDER-RADIUS: 10PX;
	padding: 15px;
}
video, audio
{
	width: 100%;
}
